{% extends 'budget_app/base_top_panel.html' %}

{% block bottom %}

    <main>

        <article>

            <header>

                <div id="bdt-create-head">
                    New item
                </div>
                
            </header>

            <section>

                <form method="POST">
                    {% csrf_token %}
            
                    <div class="forms">

                        <div class="forms-l">
                            <div><label for="title">Title: </label></div>
                            <div><label for="date">Date: </label></div>
                            <div><label for="price">Price: </label></div>
                            <div><label for="category">Category: </label></div>
                            <div><label for="transaction">Transaction: </label></div>
                        </div>

                        <div class="forms-r">
                            <div><input type="text" name="title" id="title" placeholder="Item name"></div>
                            <div><input type="date" name="date" id="date" value="{{ today }}"></div>
                            <div><input type="number" name="price" id="price" step=0.01 placeholder="0.00"></div>
                            <div>
                                <select name="category" id="category">
                                    {% for value, category in form.fields.category.choices %}
                                        <option value="{{ value }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <select name="transaction" id="transaction">
                                    {% for value, tr in form.fields.transaction.choices %}
                                        <option value="{{ value }}">{{ tr }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div style="clear:both"></div>

                        <button class="btn btn-success" type="submit">Add</button>

                    </div>

                </form>

            </section>

        </article>

    </main>

{% endblock %}