{% extends 'budget_app/base.html' %}

{% block content %}

    <main>

        <article>

            <form method="POST">
                {% csrf_token %}

                <div class="login">

                    <div class="login-row">
                        <label for="username">Username: </label>
                        <input type="text" name="username" id="username">
                    </div>

                    <div class="login-row">
                        <label for="password">Password: </label>
                        <input type="password" name="password" id="password">
                    </div>

                    <button class="btn btn-primary" type="submit">Login</button>

                </div>

            </form>

        </article>

    </main>

{% endblock %}