{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>

    <meta charset="utf-8" />
	<title>Budget app</title>
	<meta name="description" content="Budget tracking application made in Django." />
	<meta name="keywords" content="Django, project, Python, backend, frontend, framework, programming"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <link rel="stylesheet" href="{% static 'budget_app/style.css' %}" type="text/css">
    
</head>

<body>

    <div id="container">
        
        <h3>Budget application</h3>
        
        {% block content %}
        {% endblock %}

        <div id="footer">
			Maciej Wilk 2020 &copy; All rights reserved
		</div>
    
    </div>

</body>