{% extends 'budget_app/base_top_panel.html' %}

{% block bottom %}

    <main>

        <article>

            <section>

                <div id="new-bdt">
                    <a href="{% url 'new_budget' %}">
                        <button class= "btn btn-default" type="submit">NEW</button>
                    </a>
                </div>

            </section>

            <section>

                {% for b in budgets %}
                    <a href="{% url 'expenses' pk=b.pk %}" style="text-decoration: none;">
                        <div class="budget-list-item">
                            {{ b.name }}
                            {% if b.balance_left > 0 %}
                                <span style="color: green">{{ b.balance_left }}</span>
                            {% elif b.balance_left == 0 %}
                                <span style="color: orange">{{ b.balance_left }}</span>
                            {% else %}
                                <span style="color: red">{{ b.balance_left }}</span>
                            {% endif %}
                        </div>
                    </a>
                {% empty %}
                    <div class="budget-list-empty">
                        Your budget list is empty.
                    </div>    
                {% endfor %}

            </section>

        </article>

    </main>

{% endblock %}